# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# C# / .NET
[Bb]in/
[Oo]bj/
[Oo]ut/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.DS_Store

# Logs and databases
logs/
*.log
stats/
temp/
*.sqlite3
*.db

# Environment variables
.env
.env.local

# IDEs
.idea/
.vscode/
